@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@200&family=Roboto:wght@100&family=Signika+Negative:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Signika Negative", sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #334155;
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    margin-top: 3rem;
    width: 300px;
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background-color: #0f172a;
    box-shadow: 2px 6px 12px rgba(0, 0, 0, 0.8);
    border: 1px solid black;
}

.container > h1 {
    margin: auto;
    color: #ecebff;
}

.gameBoard {
    width: 300px;
    height: 300px;
    display: grid;
    background-color: #ecebff;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);

}

.board {
    border: 1px solid #0f172a;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.gameBoard + div {
	width: 100%;
	padding: 8px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.gameBoard + div > h2 {
	width: 50%;
	height: 2rem;
	border-radius: 5px;
	font-size: 1rem;
	padding-bottom: 5px;
	padding-top: 7px;
	text-align: center;
	text-justify: center;
	color: #ecebff;
}

.gameBoard + div > button {
	width: 4rem;
	height: 2rem;
	margin: 5px;
    font-weight: 800;
    cursor: pointer;
	border: 1px solid black;
	border-radius: 5px;
}

.gameBoard + div > button:active {
    opacity: 0.8;
}